.bg-green-glass{
  background: rgba(27, 150, 12, 0.4);
  border-radius: 16px;
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(27, 150, 12, 0.3);
}

.glass{background: rgba(255, 255, 255, 0.2);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);}

[data-bs-theme="dark"] {
.glass{background: rgba(255, 255, 255, 0.1);
border: 1px solid rgba(255, 255, 255, 0.1);}}


body {
  --c-glass: #bbbbbc;
  --c-light: #fff;
  --c-dark: #000;

  --c-content: #224;
  --c-action: #0052f5;

  --c-bg: #E8E8E9;

  --glass-reflex-dark: 1;
  --glass-reflex-light: 1;

  --saturation: 150%;

}

body:has(input[value="dark"]:checked) {
  --c-glass: #bbbbbc;
  --c-light: #fff;
  --c-dark: #000;

  --c-content: #e1e1e1;
  --c-action: #03d5ff;

  --c-bg: #1b1b1d;

  --glass-reflex-dark: 2;
  --glass-reflex-light: 0.3;

  --saturation: 150%;
}
